---
toc: false
layout: post
description: Tools Verification
categories: [Tools Verification]
title: Tools Verification
---

## Tools Verification


#### My Python interpreter in VS Code is working  
<img src="{{site.baseurl}}/images/python-int.jpg" alt="group-flask-website jpg">

#### Build server locally is working using VS Code
<img src="{{site.baseurl}}/images/local-server.jpg" alt="group-flask-website jpg">

#### Browsing my application locally   
<img src="{{site.baseurl}}/images/local-browser-app.jpg" alt="group-flask-website jpg">

